## Problem 2.2 (Exploring fish sleep data)

In [1]:
import numpy as np
import pandas as pd
import itertools

import altair as alt
import bokeh.io

import bebi103
import altair_catplot as altcat

bokeh.io.output_notebook()

In [4]:
df_gt = pd.read_csv('../data/130315_1A_genotypes.txt',
                    delimiter='\t',
                    comment='#',
                    header=[0, 1])
# Take a look
df_gt.head()

  Genotype1 Genotype2 Genotype3
      WT 17    Het 34    Mut 22
0       2.0         1       4.0
1      14.0         3      11.0
2      18.0         5      12.0
3      24.0         6      13.0
4      28.0         8      20.0

In [5]:
# Reset the columns to be the second level of indexing
df_gt.columns = df_gt.columns.get_level_values(1)

# Check out the new columns
df_gt.columns

Index(['WT 17', 'Het 34', 'Mut 22'], dtype='object')

In [6]:
df_gt.columns = ['wt', 'het', 'mut']

In [7]:
# Tidy the DataFrame
df_gt = pd.melt(df_gt, var_name='genotype', value_name='location')

# Take a look
df_gt

    genotype  location
0         wt       2.0
1         wt      14.0
2         wt      18.0
3         wt      24.0
4         wt      28.0
5         wt      29.0
6         wt      30.0
7         wt      54.0
8         wt      58.0
9         wt      61.0
10        wt      68.0
11        wt      75.0
12        wt      76.0
13        wt      78.0
14        wt      80.0
15        wt      86.0
16        wt      96.0
17        wt       NaN
18        wt       NaN
19        wt       NaN
20        wt       NaN
21        wt       NaN
22        wt       NaN
23        wt       NaN
24        wt       NaN
25        wt       NaN
26        wt       NaN
27        wt       NaN
28        wt       NaN
29        wt       NaN
..       ...       ...
72       mut      20.0
73       mut      21.0
74       mut      23.0
75       mut      27.0
76       mut      35.0
77       mut      39.0
78       mut      46.0
79       mut      56.0
80       mut      60.0
81       mut      64.0
82       mut      66.0
83       mut      67.0
84       mut      69.0
85       mut      87.0
86       mut      89.0
87       mut      92.0
88       mut      79.0
89       mut      81.0
90       mut       NaN
91       mut       NaN
92       mut       NaN
93       mut       NaN
94       mut       NaN
95       mut       NaN
96       mut       NaN
97       mut       NaN
98       mut       NaN
99       mut       NaN
100      mut       NaN
101      mut       NaN

[102 rows x 2 columns]

In [8]:
# Drop all rows that have a NaN in them
df_gt = df_gt.dropna()

# Take a look
df_gt

   genotype  location
0        wt       2.0
1        wt      14.0
2        wt      18.0
3        wt      24.0
4        wt      28.0
5        wt      29.0
6        wt      30.0
7        wt      54.0
8        wt      58.0
9        wt      61.0
10       wt      68.0
11       wt      75.0
12       wt      76.0
13       wt      78.0
14       wt      80.0
15       wt      86.0
16       wt      96.0
34      het       1.0
35      het       3.0
36      het       5.0
37      het       6.0
38      het       8.0
39      het      10.0
40      het      15.0
41      het      19.0
42      het      22.0
43      het      33.0
44      het      36.0
45      het      38.0
46      het      40.0
..      ...       ...
60      het      72.0
61      het      73.0
62      het      74.0
63      het      77.0
64      het      88.0
65      het      90.0
66      het      93.0
67      het      95.0
68      mut       4.0
69      mut      11.0
70      mut      12.0
71      mut      13.0
72      mut      20.0
73      mut      21.0
74      mut      23.0
75      mut      27.0
76      mut      35.0
77      mut      39.0
78      mut      46.0
79      mut      56.0
80      mut      60.0
81      mut      64.0
82      mut      66.0
83      mut      67.0
84      mut      69.0
85      mut      87.0
86      mut      89.0
87      mut      92.0
88      mut      79.0
89      mut      81.0

[73 rows x 2 columns]

In [9]:
df_gt = df_gt.reset_index(drop=True)

In [10]:
df_gt.loc[:,'location'] = df_gt.loc[:, 'location'].astype(int)

In [11]:
df = pd.read_csv('../data/130315_1A_aanat2.csv', comment='#')

# Take a look
df.head()

   location  activity                 time       zeit  zeit_ind  day
0         1       0.6  2013-03-15 18:31:09 -14.480833      -869    4
1         2       1.4  2013-03-15 18:31:09 -14.480833      -869    4
2         3       0.0  2013-03-15 18:31:09 -14.480833      -869    4
3         4       0.0  2013-03-15 18:31:09 -14.480833      -869    4
4         5       0.0  2013-03-15 18:31:09 -14.480833      -869    4

In [12]:
df = pd.merge(df, df_gt)

# Take a look
df.head()

   location  activity                 time       zeit  zeit_ind  day genotype
0         1       0.6  2013-03-15 18:31:09 -14.480833      -869    4      het
1         1       1.9  2013-03-15 18:32:09 -14.464167      -868    4      het
2         1       1.9  2013-03-15 18:33:09 -14.447500      -867    4      het
3         1      13.4  2013-03-15 18:34:09 -14.430833      -866    4      het
4         1      15.4  2013-03-15 18:35:09 -14.414167      -865    4      het

In [13]:
df['time'] = pd.to_datetime(df['time'])

In [14]:
df['time'].dt.time.head()

0    18:31:09
1    18:32:09
2    18:33:09
3    18:34:09
4    18:35:09
Name: time, dtype: object

In [15]:
df['light'] = (  (df['time'].dt.time >= pd.to_datetime('9:00:00').time())
               & (df['time'].dt.time < pd.to_datetime('23:00:00').time()))

# Take a look
df.head()

,location,activity,time,zeit,zeit_ind,day,genotype,light
0,1,0.6,2013-03-15 18:31:09,-14.480833,-869,4,het,True
1,1,1.9,2013-03-15 18:32:09,-14.464167,-868,4,het,True
2,1,1.9,2013-03-15 18:33:09,-14.447500,-867,4,het,True
3,1,13.4,2013-03-15 18:34:09,-14.430833,-866,4,het,True
4,1,15.4,2013-03-15 18:35:09,-14.414167,-865,4,het,True

In [23]:
df.loc[df['day'] == 5, :]

,location,activity,time,zeit,zeit_ind,day,genotype,light
869,1,0.0,2013-03-16 09:00:09,0.002500,0,5,het,True
870,1,0.0,2013-03-16 09:01:09,0.019167,1,5,het,True
871,1,0.0,2013-03-16 09:02:09,0.035833,2,5,het,True
872,1,0.0,2013-03-16 09:03:09,0.052500,3,5,het,True
873,1,4.2,2013-03-16 09:04:09,0.069167,4,5,het,True
874,1,4.5,2013-03-16 09:05:09,0.085833,5,5,het,True
875,1,6.4,2013-03-16 09:06:09,0.102500,6,5,het,True
876,1,8.6,2013-03-16 09:07:09,0.119167,7,5,het,True
877,1,8.4,2013-03-16 09:08:09,0.135833,8,5,het,True
878,1,8.9,2013-03-16 09:09:09,0.152500,9,5,het,True
879,1,9.5,2013-03-16 09:10:09,0.169167,10,5,het,True
880,1,8.4,2013-03-16 09:11:09,0.185833,11,5,het,True
881,1,9.1,2013-03-16 09:12:09,0.202500,12,5,het,True
882,1,8.7,2013-03-16 09:13:09,0.219167,13,5,het,True
883,1,9.1,2013-03-16 09:14:09,0.235833,14,5,het,True
884,1,9.7,2013-03-16 09:15:09,0.252500,15,5,het,True
885,1,9.5,2013-03-16 09:16:09,0.269167,16,5,het,True
886,1,10.6,2013-03-16 09:17:09,0.285833,17,5,het,True
887,1,8.2,2013-03-16 09:18:09,0.302500,18,5,het,True
888,1,8.3,2013-03-16 09:19:09,0.319167,19,5,het,True
889,1,6.1,2013-03-16 09:20:09,0.335833,20,5,het,True
890,1,7.2,2013-03-16 09:21:09,0.352500,21,5,het,True
891,1,8.5,2013-03-16 09:22:09,0.369167,22,5,het,True
892,1,7.2,2013-03-16 09:23:09,0.385833,23,5,het,True
893,1,7.6,2013-03-16 09:24:09,0.402500,24,5,het,True
894,1,9.2,2013-03-16 09:25:09,0.419167,25,5,het,True
895,1,12.3,2013-03-16 09:26:09,0.435833,26,5,het,True
896,1,9.1,2013-03-16 09:27:09,0.452500,27,5,het,True
897,1,9.6,2013-03-16 09:28:09,0.469167,28,5,het,True
898,1,7.9,2013-03-16 09:29:09,0.485833,29,5,het,True
...,...,...,...,...,...,...,...,...
388412,96,0.0,2013-03-17 08:30:40,23.511111,1411,5,wt,False
388413,96,0.0,2013-03-17 08:31:40,23.527778,1412,5,wt,False
388414,96,0.1,2013-03-17 08:32:40,23.544444,1413,5,wt,False
388415,96,0.1,2013-03-17 08:33:40,23.561111,1414,5,wt,False
388416,96,0.0,2013-03-17 08:34:40,23.577778,1415,5,wt,False
388417,96,0.1,2013-03-17 08:35:40,23.594444,1416,5,wt,False
388418,96,0.3,2013-03-17 08:36:40,23.611111,1417,5,wt,False
388419,96,0.0,2013-03-17 08:37:40,23.627778,1418,5,wt,False
388420,96,0.0,2013-03-17 08:38:40,23.644444,1419,5,wt,False
388421,96,0.6,2013-03-17 08:39:40,23.661111,1420,5,wt,False
388422,96,0.8,2013-03-17 08:40:40,23.677778,1421,5,wt,False
388423,96,0.5,2013-03-17 08:41:40,23.694444,1422,5,wt,False
388424,96,0.0,2013-03-17 08:42:40,23.711111,1423,5,wt,False
388425,96,0.1,2013-03-17 08:43:40,23.727778,1424,5,wt,False
388426,96,0.2,2013-03-17 08:44:40,23.744444,1425,5,wt,False
388427,96,0.3,2013-03-17 08:45:40,23.761111,1426,5,wt,False
388428,96,0.5,2013-03-17 08:46:40,23.777778,1427,5,wt,False
388429,96,0.3,2013-03-17 08:47:40,23.794444,1428,5,wt,False
388430,96,0.2,2013-03-17 08:48:40,23.811111,1429,5,wt,False
388431,96,0.1,2013-03-17 08:49:40,23.827778,1430,5,wt,False
388432,96,0.0,2013-03-17 08:50:40,23.844444,1431,5,wt,False
388433,96,0.0,2013-03-17 08:51:40,23.861111,1432,5,wt,False
388434,96,0.0,2013-03-17 08:52:40,23.877778,1433,5,wt,False
388435,96,0.0,2013-03-17 08:53:40,23.894444,1434,5,wt,False
388436,96,0.0,2013-03-17 08:54:40,23.911111,1435,5,wt,False
388437,96,1.3,2013-03-17 08:55:40,23.927778,1436,5,wt,False
388438,96,2.3,2013-03-17 08:56:40,23.944444,1437,5,wt,False
388439,96,2.2,2013-03-17 08:57:40,23.961111,1438,5,wt,False
388440,96,2.2,2013-03-17 08:58:40,23.977778,1439,5,wt,False
388441,96,6.8,2013-03-17 08:59:40,23.994444,1440,5,wt,False

In [16]:
grouped = df.groupby('location')

In [17]:
df_median = grouped.median()

df_median.head()

          activity       zeit  zeit_ind  day  light
location
1              2.1  30.261111      1816    6   True
2              1.4  30.261111      1816    6   True
3              0.3  30.261111      1816    6   True
4              3.0  30.261111      1816    6   True
5              2.8  30.261111      1816    6   True

In [18]:
df_median = df_median.reset_index()

In [20]:
df_median

    location  activity       zeit  zeit_ind  day  light
0          1       2.1  30.261111      1816    6   True
1          2       1.4  30.261111      1816    6   True
2          3       0.3  30.261111      1816    6   True
3          4       3.0  30.261111      1816    6   True
4          5       2.8  30.261111      1816    6   True
5          6       1.3  30.261111      1816    6   True
6          8       0.5  30.261111      1816    6   True
7         10       0.4  30.261111      1816    6   True
8         11       2.5  30.261111      1816    6   True
9         12       2.3  30.261111      1816    6   True
10        13       1.6  30.261111      1816    6   True
11        14       1.6  30.261111      1816    6   True
12        15       1.5  30.261111      1816    6   True
13        18       2.9  30.261111      1816    6   True
14        19       0.5  30.261111      1816    6   True
15        20       2.2  30.261111      1816    6   True
16        21       5.8  30.261111      1816    6   True
17        22       2.0  30.261111      1816    6   True
18        23       2.8  30.261111      1816    6   True
19        24       1.6  30.261111      1816    6   True
20        27       2.3  30.261111      1816    6   True
21        28       2.1  30.261111      1816    6   True
22        29       2.4  30.261111      1816    6   True
23        30       2.5  30.261111      1816    6   True
24        33       2.6  30.261111      1816    6   True
25        35       3.8  30.261111      1816    6   True
26        36       2.7  30.261111      1816    6   True
27        38       1.7  30.261111      1816    6   True
28        39       1.2  30.261111      1816    6   True
29        40       2.1  30.261111      1816    6   True
..       ...       ...        ...       ...  ...    ...
43        59       1.1  30.261111      1816    6   True
44        60       2.3  30.261111      1816    6   True
45        61       0.4  30.261111      1816    6   True
46        62       1.5  30.261111      1816    6   True
47        64       0.9  30.261111      1816    6   True
48        65       1.9  30.261111      1816    6   True
49        66       2.5  30.261111      1816    6   True
50        67       3.1  30.261111      1816    6   True
51        68       2.1  30.261111      1816    6   True
52        69       3.0  30.261111      1816    6   True
53        71       2.4  30.261111      1816    6   True
54        72       1.9  30.261111      1816    6   True
55        73       1.3  30.261111      1816    6   True
56        74       0.3  30.261111      1816    6   True
57        75       0.7  30.261111      1816    6   True
58        76       2.2  30.261111      1816    6   True
59        77       2.2  30.261111      1816    6   True
60        78       2.5  30.261111      1816    6   True
61        79       3.9  30.261111      1816    6   True
62        80       2.2  30.261111      1816    6   True
63        81       1.4  30.261111      1816    6   True
64        86       1.8  30.261111      1816    6   True
65        87       3.5  30.261111      1816    6   True
66        88       2.4  30.261111      1816    6   True
67        89       1.6  30.261111      1816    6   True
68        90       3.3  30.261111      1816    6   True
69        92       3.1  30.261111      1816    6   True
70        93       1.1  30.261111      1816    6   True
71        95       1.6  30.261111      1816    6   True
72        96       2.3  30.261111      1816    6   True

[73 rows x 6 columns]