In [257]:
import glob

import numpy as np
import pandas as pd

## Let's check the fish activity file first

In [258]:
fname = './data/fish_actvity_for_validation/150717_2A_2B.csv'

# Load in the data
df = pd.read_csv(fname)

df.head()

,location,animal,user,sn,an,datatype,start,end,startreason,endreason,frect,fredur,midct,middur,burct,burdur,stdate,sttime
0,c97,z097,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,34,55.7,34,4.3,0,0.0,17/07/2015,14:30:00
1,c98,z098,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,0,60.0,0,0.0,0,0.0,17/07/2015,14:30:00
2,c99,z099,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,6,59.0,6,1.0,0,0.0,17/07/2015,14:30:00
3,c100,z100,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,25,55.8,25,4.2,0,0.0,17/07/2015,14:30:00
4,c101,z101,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,1,60.0,0,0.0,0,0.0,17/07/2015,14:30:00

Since we only care the fish 1-96 (which are already genotyped), we could slice out the data of those fish first!

In [259]:
# we could see the ID of the fish is bury in the animal column, so we could generate a ID column first
df['ID'] = df['animal'].str[1:]
df.head()

,location,animal,user,sn,an,datatype,start,end,startreason,endreason,frect,fredur,midct,middur,burct,burdur,stdate,sttime,ID
0,c97,z097,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,34,55.7,34,4.3,0,0.0,17/07/2015,14:30:00,097
1,c98,z098,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,0,60.0,0,0.0,0,0.0,17/07/2015,14:30:00,098
2,c99,z099,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,6,59.0,6,1.0,0,0.0,17/07/2015,14:30:00,099
3,c100,z100,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,25,55.8,25,4.2,0,0.0,17/07/2015,14:30:00,100
4,c101,z101,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,1,60.0,0,0.0,0,0.0,17/07/2015,14:30:00,101

In [260]:
# Slice out the fish that has ID < 96
df.loc[:,'ID'] = df.loc[:, 'ID'].astype(int)
df_fish = df.loc[df['ID'] <= 96, :]
df_fish.head()

,location,animal,user,sn,an,datatype,start,end,startreason,endreason,frect,fredur,midct,middur,burct,burdur,stdate,sttime,ID
96,c1,z001,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,0,60.0,0,0.0,0,0.0,17/07/2015,14:29:59,1
97,c2,z002,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,10,58.5,10,1.5,0,0.0,17/07/2015,14:29:59,2
98,c3,z003,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,17,57.6,16,2.4,0,0.0,17/07/2015,14:29:59,3
99,c4,z004,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,4,59.5,4,0.6,0,0.0,17/07/2015,14:29:59,4
100,c5,z005,ZEBRALAB02\zebralab_user,1,0,quant,0.0,60.0,Beginning of session,End of period,38,54.9,37,5.2,0,0.0,17/07/2015,14:29:59,5

#### Check whether there are NaN in the acitivity column (middur)
#### Check whether acitivity column (middur) >=0 [because the middur is time in 1 minute]
#### Check whether acitivity column (middur) <= 60s [because the middur is time in 1 minute]
#### Check the time interval is always 1 minute across the whole session
#### Check whether each fish has the same amount of data point

In [261]:
# Check whether there are NaN in the acitivity column (middur)
def test_missing_data(df, fname):
    """Look for missing entries."""
    assert np.all(df['middur'].notnull()), fname + ' contains missing data'
    
test_missing_data(df_fish, fname)

It passed! There are no NaN in the dataset.

In [262]:
# Check whether acitivity column (middur) >=0 [because the middur is time in 1 minute]
def test_negative(df, fname):
    """Look for negative scattering values in cells."""
    assert np.all(df['middur'] >= 0), \
            fname + ' contains negative scattering data'

test_negative(df_fish,fname)

It passed! All the activity data is not negative.

In [263]:
# Check whether acitivity column (middur) <= 60s [because the middur is time in 1 minute]
def test_less_than_60s(df, fname):
    """Look for negative scattering values in gated cells."""
    assert np.all(df['middur']<= 60), \
            fname + ' contains data that large than 60s'

test_less_than_60s(df_fish,fname)

AssertionError: ./data/fish_actvity_for_validation/150717_2A_2B.csv contains data that large than 60s

Seems there are some data in the activity column (middur) is larger than 60s, which dosen't make sense when considering the definition of middur (time in one minute), let's take a look at them

In [264]:
df_activity_exceed_60 = df_fish.loc[df['middur']> 60]
df_activity_exceed_60

,location,animal,user,sn,an,datatype,start,end,startreason,endreason,frect,fredur,midct,middur,burct,burdur,stdate,sttime,ID
619978,c67,z067,ZEBRALAB02\zebralab_user,1,0,quant,193740.0,193816.5,End of period,End of period,0,1.3,1,75.3,0,0.0,19/07/2015,20:20:04,67
619994,c83,z083,ZEBRALAB02\zebralab_user,1,0,quant,193740.0,193816.5,End of period,End of period,0,1.3,1,75.3,0,0.0,19/07/2015,20:20:11,83
620005,c94,z094,ZEBRALAB02\zebralab_user,1,0,quant,193740.0,193816.5,End of period,End of period,0,1.3,1,75.3,0,0.0,19/07/2015,20:20:15,94
620104,c3,z003,ZEBRALAB02\zebralab_user,1,0,quant,193740.0,193816.6,End of period,End of period,0,1.2,1,75.4,0,0.0,19/07/2015,20:19:39,3
620110,c9,z009,ZEBRALAB02\zebralab_user,1,0,quant,193740.0,193816.6,End of period,End of period,1,1.1,2,75.4,0,0.0,19/07/2015,20:19:41,9
620128,c28,z028,ZEBRALAB02\zebralab_user,1,0,quant,193740.0,193816.6,End of period,End of period,1,1.1,2,75.4,0,0.0,19/07/2015,20:19:48,28

We could see there are 6 datapoints in the activity column are >60, which is inconsistent with the researcher's claim. Maybe we should exclude those datapoints when doing the real analyse.  

And when we look at the time interval of this datapoint(end-start = 76.5) which is larger than 60s, that explains why the activity data is >60s. But it brings up the concern that the time for each measurement is not always 1 minutes across whole dataset, let's check that in the next step.

In [269]:
# Generate a column of time length for each measurement using the 'end' and 'start' column
df_fish['time_length'] = df_fish['end'] - df_fish['start']
df_fish.head()

,location,animal,user,sn,an,datatype,start,end,startreason,endreason,frect,fredur,midct,middur,burct,burdur,stdate,sttime,ID,time_length
96,c1,z001,ZEBRALAB02\zebralab_user,1.0,0.0,quant,0.0,60.0,Beginning of session,End of period,0.0,60.0,0.0,0.0,0.0,0.0,17/07/2015,14:29:59,1.0,60.0
97,c2,z002,ZEBRALAB02\zebralab_user,1.0,0.0,quant,0.0,60.0,Beginning of session,End of period,10.0,58.5,10.0,1.5,0.0,0.0,17/07/2015,14:29:59,2.0,60.0
98,c3,z003,ZEBRALAB02\zebralab_user,1.0,0.0,quant,0.0,60.0,Beginning of session,End of period,17.0,57.6,16.0,2.4,0.0,0.0,17/07/2015,14:29:59,3.0,60.0
99,c4,z004,ZEBRALAB02\zebralab_user,1.0,0.0,quant,0.0,60.0,Beginning of session,End of period,4.0,59.5,4.0,0.6,0.0,0.0,17/07/2015,14:29:59,4.0,60.0
100,c5,z005,ZEBRALAB02\zebralab_user,1.0,0.0,quant,0.0,60.0,Beginning of session,End of period,38.0,54.9,37.0,5.2,0.0,0.0,17/07/2015,14:29:59,5.0,60.0

In [270]:
# Check the time length is always 1 minute across the whole session
def test_time_length(df, fname):
    """Look for negative scattering values in gated cells."""
    assert np.all(df['time_length']!= 60), \
            fname + ' contains time length that is not 60s'

test_time_length(df_fish,fname)

AssertionError: ./data/fish_actvity_for_validation/150717_2A_2B.csv contains time length that is not 60s

It didn't pass, indicating not all time length is 60s which is consistent with our observation in the last step. Let's take a look at those measurement in time >60s.

In [271]:
df_fish.loc[df_fish['time_length']!= 60]

,location,animal,user,sn,an,datatype,start,end,startreason,endreason,frect,fredur,midct,middur,burct,burdur,stdate,sttime,ID,time_length
619968,c10,z010,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193805.5,End of period,End of period,1.0,65.3,1.0,0.2,0.0,0.0,19/07/2015,20:19:41,10.0,65.5
619969,c61,z061,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193810.1,End of period,End of period,0.0,70.1,0.0,0.0,0.0,0.0,19/07/2015,20:20:02,61.0,70.1
619970,c57,z057,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193811.3,End of period,End of period,0.0,71.3,0.0,0.0,0.0,0.0,19/07/2015,20:20:00,57.0,71.3
619973,c62,z062,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:02,62.0,76.5
619974,c63,z063,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:02,63.0,76.5
619975,c64,z064,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:03,64.0,76.5
619976,c65,z065,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,2.0,76.3,2.0,0.2,0.0,0.0,19/07/2015,20:20:03,65.0,76.5
619977,c66,z066,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,1.0,76.0,1.0,0.5,0.0,0.0,19/07/2015,20:20:04,66.0,76.5
619978,c67,z067,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,1.3,1.0,75.3,0.0,0.0,19/07/2015,20:20:04,67.0,76.5
619979,c68,z068,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,3.0,76.3,2.0,0.3,0.0,0.0,19/07/2015,20:20:05,68.0,76.5
619980,c69,z069,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,1.0,64.0,1.0,12.5,0.0,0.0,19/07/2015,20:20:05,69.0,76.5
619981,c70,z070,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:06,70.0,76.5
619982,c71,z071,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,1.0,76.4,1.0,0.1,0.0,0.0,19/07/2015,20:20:06,71.0,76.5
619983,c72,z072,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:07,72.0,76.5
619984,c73,z073,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,1.0,76.4,0.0,0.1,0.0,0.0,19/07/2015,20:20:07,73.0,76.5
619985,c74,z074,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,3.0,76.1,3.0,0.5,0.0,0.0,19/07/2015,20:20:07,74.0,76.5
619986,c75,z075,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:08,75.0,76.5
619987,c76,z076,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,2.0,76.0,2.0,0.5,0.0,0.0,19/07/2015,20:20:08,76.0,76.5
619988,c77,z077,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:08,77.0,76.5
619989,c78,z078,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:09,78.0,76.5
619990,c79,z079,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,1.0,76.4,1.0,0.1,0.0,0.0,19/07/2015,20:20:09,79.0,76.5
619991,c80,z080,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,1.0,76.3,2.0,0.2,1.0,0.1,19/07/2015,20:20:09,80.0,76.5
619992,c81,z081,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:10,81.0,76.5
619993,c82,z082,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,2.0,76.1,2.0,0.4,0.0,0.0,19/07/2015,20:20:10,82.0,76.5
619994,c83,z083,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,1.3,1.0,75.3,0.0,0.0,19/07/2015,20:20:11,83.0,76.5
619995,c84,z084,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:11,84.0,76.5
619996,c85,z085,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:11,85.0,76.5
619997,c86,z086,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:12,86.0,76.5
619998,c87,z087,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,0.0,76.5,0.0,0.0,0.0,0.0,19/07/2015,20:20:12,87.0,76.5
619999,c88,z088,ZEBRALAB02\zebralab_user,1.0,0.0,quant,193740.0,193816.5,End of period,End of period,2.0,76.2,2.0,0.3,0.0,0.0,19/07/2015,20:20:12,88.0,76.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790723,c68,z068,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.2,End of period,End of session,22.0,19.8,22.0,3.4,0.0,0.0,20/07/2015,11:07:59,68.0,23.2
790724,c69,z069,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.2,End of period,End of session,10.0,20.9,9.0,2.3,0.0,0.0,20/07/2015,11:07:59,69.0,23.2
790725,c70,z070,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.2,End of period,End of session,0.0,23.2,0.0,0.0,0.0,0.0,20/07/2015,11:07:59,70.0,23.2
790726,c71,z071,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.2,End of period,End of session,10.0,20.8,10.0,2.4,0.0,0.0,20/07/2015,11:07:59,71.0,23.2
790727,c72,z072,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.2,End of period,End of session,2.0,23.0,2.0,0.2,0.0,0.0,20/07/2015,11:07:59,72.0,23.2
790728,c73,z073,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,1.0,23.2,1.0,0.1,0.0,0.0,20/07/2015,11:07:59,73.0,23.3
790729,c74,z074,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,3.0,22.8,3.0,0.5,0.0,0.0,20/07/2015,11:07:59,74.0,23.3
790730,c75,z075,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,14.0,21.0,14.0,2.3,0.0,0.0,20/07/2015,11:07:59,75.0,23.3
790731,c76,z076,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,13.0,21.4,13.0,1.9,0.0,0.0,20/07/2015,11:07:59,76.0,23.3
790732,c77,z077,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,28.0,18.1,29.0,5.2,1.0,0.1,20/07/2015,11:07:59,77.0,23.3
790733,c78,z078,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,4.0,22.9,4.0,0.5,0.0,0.0,20/07/2015,11:07:59,78.0,23.3
790734,c79,z079,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,5.0,23.0,5.0,0.3,0.0,0.0,20/07/2015,11:07:59,79.0,23.3
790735,c80,z080,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.3,End of period,End of session,9.0,21.7,9.0,1.6,0.0,0.0,20/07/2015,11:07:59,80.0,23.3
790736,c81,z081,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,15.0,20.7,14.0,2.8,0.0,0.0,20/07/2015,11:07:59,81.0,23.5
790737,c82,z082,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,3.0,23.1,3.0,0.3,0.0,0.0,20/07/2015,11:07:59,82.0,23.5
790738,c83,z083,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,10.0,22.0,10.0,1.5,0.0,0.0,20/07/2015,11:07:59,83.0,23.5
790739,c84,z084,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,0.0,23.5,0.0,0.0,0.0,0.0,20/07/2015,11:07:59,84.0,23.5
790740,c85,z085,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,0.0,23.5,0.0,0.0,0.0,0.0,20/07/2015,11:07:59,85.0,23.5
790741,c86,z086,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,3.0,23.1,3.0,0.4,0.0,0.0,20/07/2015,11:07:59,86.0,23.5
790742,c87,z087,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,10.0,21.5,10.0,2.0,0.0,0.0,20/07/2015,11:07:59,87.0,23.5
790743,c88,z088,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,9.0,22.3,9.0,1.1,0.0,0.0,20/07/2015,11:07:59,88.0,23.5
790744,c89,z089,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.5,End of period,End of session,11.0,21.6,11.0,1.8,0.0,0.0,20/07/2015,11:07:59,89.0,23.5
790745,c90,z090,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,12.0,21.6,11.0,2.0,0.0,0.0,20/07/2015,11:07:59,90.0,23.7
790746,c91,z091,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,5.0,22.5,6.0,1.2,0.0,0.0,20/07/2015,11:07:59,91.0,23.7
790747,c92,z092,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,17.0,20.0,17.0,3.8,0.0,0.0,20/07/2015,11:07:59,92.0,23.7
790748,c93,z093,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,6.0,22.9,6.0,0.9,0.0,0.0,20/07/2015,11:07:59,93.0,23.7
790749,c94,z094,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,26.0,19.9,26.0,3.8,1.0,0.1,20/07/2015,11:07:59,94.0,23.7
790750,c95,z095,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,5.0,22.9,4.0,0.9,0.0,0.0,20/07/2015,11:07:59,95.0,23.7
790751,c96,z096,ZEBRALAB02\zebralab_user,1.0,0.0,quant,247080.0,247103.7,End of period,End of session,27.0,19.3,26.0,4.4,0.0,0.0,20/07/2015,11:07:59,96.0,23.7
time_length,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We could see that there are actually three measurements of activity is recorded in a session >60s. We need to keep that in mind when doing the data analyse. 

We would also like to know whether each fish has same anounts of data points.

In [272]:
# check whether each fish has the same amounts of datapoints
df_datapoints_num = pd.DataFrame(df_fish.groupby('ID').size())
df_datapoints_num.head()

        0
ID
1.0  4119
2.0  4119
3.0  4119
4.0  4119
5.0  4119

In [273]:
df_datapoints_num.columns = ['datapoints_num']
df_datapoints_num.loc[df_datapoints_num['datapoints_num'] != 4119]

Empty DataFrame
Columns: [datapoints_num]
Index: []

All the fish has 4119 datapoints.

#### In general, the major problems we see in the behavior dataset are:
#### 1.The data is not evenly distributed in time, the time length of 3 measurements are >60s while all the other measurements are recorded within a minute.
#### 2.The first problem leads to the observation that 5 datapoints in the 'middur' column are >60s, which is inconsistent with the researcher's definition for 'middur'
#### When we do the real abalysis on this dataset, it's better to exclude these datapoints or normalize them to their bin size (time_length)

## Let's also check the genotype data

The researcher said that, 'the fish in instrument 2A, numbered 1 through 96 in the activity data file 150717_2A_2B.csv, were genotyped'. That indicates the genotype data we get here should has 96 fish's genotype. So let's load the file and have a look.

In [274]:
# Load in the genotype file, call it df_gt for genotype DataFrame
df_gt = pd.read_csv('./data/fish_actvity_for_validation/150717_2A_genotype_3.txt',
                    delimiter='\t',
                    comment='#')

# Take a look at it
df_gt

      wt  het   mut
0    1.0    5   2.0
1    3.0    6   4.0
2    8.0    7  14.0
3   12.0    9  16.0
4   21.0   10  26.0
5   28.0   13  27.0
6   31.0   15  37.0
7   33.0   17  40.0
8   34.0   18  41.0
9   35.0   19  46.0
10  38.0   20  54.0
11  39.0   23  57.0
12  42.0   24  58.0
13  43.0   25  60.0
14  53.0   29  71.0
15  61.0   30  75.0
16  73.0   32  76.0
17  79.0   44  77.0
18  87.0   45  81.0
19  88.0   48  82.0
20  93.0   49   NaN
21   NaN   50   NaN
22   NaN   52   NaN
23   NaN   56   NaN
24   NaN   59   NaN
25   NaN   63   NaN
26   NaN   72   NaN
27   NaN   74   NaN
28   NaN   78   NaN
29   NaN   80   NaN
30   NaN   85   NaN
31   NaN   86   NaN
32   NaN   89   NaN
33   NaN   90   NaN
34   NaN   91   NaN
35   NaN   92   NaN
36   NaN   94   NaN
37   NaN   96   NaN

In [275]:
# Tidy the DataFrame
df_gt = pd.melt(df_gt, var_name='genotype', value_name='location')

# Take a look
df_gt

    genotype  location
0         wt       1.0
1         wt       3.0
2         wt       8.0
3         wt      12.0
4         wt      21.0
5         wt      28.0
6         wt      31.0
7         wt      33.0
8         wt      34.0
9         wt      35.0
10        wt      38.0
11        wt      39.0
12        wt      42.0
13        wt      43.0
14        wt      53.0
15        wt      61.0
16        wt      73.0
17        wt      79.0
18        wt      87.0
19        wt      88.0
20        wt      93.0
21        wt       NaN
22        wt       NaN
23        wt       NaN
24        wt       NaN
25        wt       NaN
26        wt       NaN
27        wt       NaN
28        wt       NaN
29        wt       NaN
..       ...       ...
84       mut      41.0
85       mut      46.0
86       mut      54.0
87       mut      57.0
88       mut      58.0
89       mut      60.0
90       mut      71.0
91       mut      75.0
92       mut      76.0
93       mut      77.0
94       mut      81.0
95       mut      82.0
96       mut       NaN
97       mut       NaN
98       mut       NaN
99       mut       NaN
100      mut       NaN
101      mut       NaN
102      mut       NaN
103      mut       NaN
104      mut       NaN
105      mut       NaN
106      mut       NaN
107      mut       NaN
108      mut       NaN
109      mut       NaN
110      mut       NaN
111      mut       NaN
112      mut       NaN
113      mut       NaN

[114 rows x 2 columns]

In [276]:
# Drop all the NaN and sort the dataset based on 'location'
df_gt = df_gt.dropna()
df_gt = df_gt.sort_values(['location'])
df_gt

   genotype  location
0        wt       1.0
76      mut       2.0
1        wt       3.0
77      mut       4.0
38      het       5.0
39      het       6.0
40      het       7.0
2        wt       8.0
41      het       9.0
42      het      10.0
3        wt      12.0
43      het      13.0
78      mut      14.0
44      het      15.0
79      mut      16.0
45      het      17.0
46      het      18.0
47      het      19.0
48      het      20.0
4        wt      21.0
49      het      23.0
50      het      24.0
51      het      25.0
80      mut      26.0
81      mut      27.0
5        wt      28.0
52      het      29.0
53      het      30.0
6        wt      31.0
54      het      32.0
..      ...       ...
61      het      56.0
87      mut      57.0
88      mut      58.0
62      het      59.0
89      mut      60.0
15       wt      61.0
63      het      63.0
90      mut      71.0
64      het      72.0
16       wt      73.0
65      het      74.0
91      mut      75.0
92      mut      76.0
93      mut      77.0
66      het      78.0
17       wt      79.0
67      het      80.0
94      mut      81.0
95      mut      82.0
68      het      85.0
69      het      86.0
18       wt      87.0
19       wt      88.0
70      het      89.0
71      het      90.0
72      het      91.0
73      het      92.0
20       wt      93.0
74      het      94.0
75      het      96.0

[79 rows x 2 columns]

After we drop the NaN, we see there are only 75 rows of genotype data, which is inconsistent with the researcher's claim. So we would like to check out what happens to the data: 
#### 1. We would like to see which location is not genotyped and we would rule out that data when analyze behavior.
#### 2. We would also make sure each location only reports single genotype.

In [277]:
# Check the location that is not genotyped by looking at the difference of location between 2 conseceutive row
df_gt['location+1'] = df_gt['location'].shift(-1)
df_gt['location_difference'] = df_gt['location+1'] - df_gt['location']
df_gt

   genotype  location  location+1  location_difference
0        wt       1.0         2.0                  1.0
76      mut       2.0         3.0                  1.0
1        wt       3.0         4.0                  1.0
77      mut       4.0         5.0                  1.0
38      het       5.0         6.0                  1.0
39      het       6.0         7.0                  1.0
40      het       7.0         8.0                  1.0
2        wt       8.0         9.0                  1.0
41      het       9.0        10.0                  1.0
42      het      10.0        12.0                  2.0
3        wt      12.0        13.0                  1.0
43      het      13.0        14.0                  1.0
78      mut      14.0        15.0                  1.0
44      het      15.0        16.0                  1.0
79      mut      16.0        17.0                  1.0
45      het      17.0        18.0                  1.0
46      het      18.0        19.0                  1.0
47      het      19.0        20.0                  1.0
48      het      20.0        21.0                  1.0
4        wt      21.0        23.0                  2.0
49      het      23.0        24.0                  1.0
50      het      24.0        25.0                  1.0
51      het      25.0        26.0                  1.0
80      mut      26.0        27.0                  1.0
81      mut      27.0        28.0                  1.0
5        wt      28.0        29.0                  1.0
52      het      29.0        30.0                  1.0
53      het      30.0        31.0                  1.0
6        wt      31.0        32.0                  1.0
54      het      32.0        33.0                  1.0
..      ...       ...         ...                  ...
61      het      56.0        57.0                  1.0
87      mut      57.0        58.0                  1.0
88      mut      58.0        59.0                  1.0
62      het      59.0        60.0                  1.0
89      mut      60.0        61.0                  1.0
15       wt      61.0        63.0                  2.0
63      het      63.0        71.0                  8.0
90      mut      71.0        72.0                  1.0
64      het      72.0        73.0                  1.0
16       wt      73.0        74.0                  1.0
65      het      74.0        75.0                  1.0
91      mut      75.0        76.0                  1.0
92      mut      76.0        77.0                  1.0
93      mut      77.0        78.0                  1.0
66      het      78.0        79.0                  1.0
17       wt      79.0        80.0                  1.0
67      het      80.0        81.0                  1.0
94      mut      81.0        82.0                  1.0
95      mut      82.0        85.0                  3.0
68      het      85.0        86.0                  1.0
69      het      86.0        87.0                  1.0
18       wt      87.0        88.0                  1.0
19       wt      88.0        89.0                  1.0
70      het      89.0        90.0                  1.0
71      het      90.0        91.0                  1.0
72      het      91.0        92.0                  1.0
73      het      92.0        93.0                  1.0
20       wt      93.0        94.0                  1.0
74      het      94.0        96.0                  2.0
75      het      96.0         NaN                  NaN

[79 rows x 4 columns]

In [278]:
# if some locations are skipped, we would see the location interval >1
df_gt.loc[df_gt['location_difference']>1]

   genotype  location  location+1  location_difference
42      het      10.0        12.0                  2.0
4        wt      21.0        23.0                  2.0
9        wt      35.0        37.0                  2.0
85      mut      46.0        48.0                  2.0
59      het      50.0        52.0                  2.0
86      mut      54.0        56.0                  2.0
15       wt      61.0        63.0                  2.0
63      het      63.0        71.0                  8.0
95      mut      82.0        85.0                  3.0
74      het      94.0        96.0                  2.0

From the above data, we could see that 11,22,36,47,51,55,62,64-70,83,84,95 are not genotyped. 
It would be better for them to have a fourth column clarified that these fish haven't be genotyped in the original genotype file.

In [279]:
# We would also like to make sure each location reports single genotype, we would see the location interval !=0
df_gt.loc[df_gt['location_difference']==0]

Empty DataFrame
Columns: [genotype, location, location+1, location_difference]
Index: []

There is nothing here, which helps us make sure that single location reports single genotype

#### In general, the major problems we see in the genotype dataset are:
#### Location 11,22,36,47,51,55,62,64-70,83,84,95 are not genotyped, we need to exclude those wells wehn performing the data analysis.
#### It would be better for them to have a fourth column in their genotype file clarifying the ones that were not genotyped.

In [280]:
%load_ext watermark

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark

In [281]:
%watermark -v -p numpy,pandas,glob,jupyterlab

CPython 3.6.6
IPython 7.0.1

numpy 1.15.2
pandas 0.23.4
glob n
jupyterlab 0.35.0